---
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-kmm
  annotations:
    argocd.argoproj.io/sync-wave: "0"
    openshift.io/display-name: "Kernel Module Management"
  labels:
    openshift.io/cluster-monitoring: "true"
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: kmm-operator
  namespace: openshift-kmm
  annotations:
    argocd.argoproj.io/sync-wave: "1"
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: kernel-module-management
  namespace: openshift-kmm
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  channel: stable
  name: kernel-module-management
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  installPlanApproval: Automatic
